:root {
  --accent-color-one: #212121;
  --accent-color-two: #2196f3;
  --secondary-color-font: #757575;
  --main-color-light: #ffffff;
  --main-color-dark: #000000;
  --hover-focus-color: #188ce8;
  --background-color-dark: #2f303a;
  --background-color-team: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --portfolio-cards-border: #eeeeee;
  --header-border-line-bottom: #ececec;
  --hero-background: #c4c4c4;
  --clients-logo-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background: var(--main-color-light);
  color: var(--accent-color-one);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
  margin: 0 auto;
}

/* Header */

.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border-line-bottom);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color-two);
  margin-right: 93px;
}

.logo-black {
  color: var(--main-color-dark);
}

.logo-white {
  color: var(--main-color-light);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 50px;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color-one);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color-two);
}

.nav .current {
  color: var(--accent-color-two);
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-font);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.contacts-item:hover,
.contacts-item:focus,
.icon:hover,
.icon:focus {
  color: var(--accent-color-two);
}

.contact-list-item {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: var(--hero-background);
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color-light);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color-light);
  background-color: var(--accent-color-two);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-focus-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.advantages.section {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-title {
  width: calc((100%-90px) / 4);
}

.advantages-title::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color-team);
  border-radius: 4px;
  margin-bottom: 30px;
}

.antenna-icon::before {
  background-image: url("../images/antenna.svg");
}

.clock-icon::before {
  background-image: url("../images/clock.svg");
}

.diagram-icon::before {
  background-image: url("../images/diagram.svg");
}

.astronaut-icon::before {
  background-image: url("../images/astronaut.svg");
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-font);
}

.our-work {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.our-work-list {
  display: flex;
  gap: 30px;
}

.our-work-img {
  width: calc((100%-60px) / 3);
}

.our-work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-card {
  display: flex;
  gap: 30px;
}

.team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--background-color-team);
}

.about-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-color-font);
}

.team-card-item {
  background: var(--main-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-90px) / 4);
}

.about-team-items {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.about-team-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background-color: var(--main-color-light); */
  background-color: #f5ebaf;
}

.clients {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--accent-color-one);
}
.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list-items {
  display: flex;
  width: calc((100%-150px) / 6);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.clients-item {
  display: block;
  text-align: center;
  color: var(--clients-logo-color);
}

.clients-logo {
  text-align: center;
  align-items: center;
  fill: currentColor;
}

/* Footer */
.footer-logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color-light);
  font-style: normal;
  margin-bottom: 9px;
  display: block;
}

.footer-contact-email,
.footer-contact-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);
  font-style: normal;
  display: block;
}

.footer-address:hover,
.footer-address:focus,
.footer-contact-email:hover,
.footer-contact-email:focus,
.footer-contact-tel:hover,
.footer-contact-tel:focus {
  color: var(--accent-color-two);
}

.footer-contact-email {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  flex-wrap: wrap;
  max-width: 206px;
  display: flex;
  margin-left: 70px;
}

.footer-social-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color-light);
  margin-bottom: 20px;
}

.footer-social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Portfolio */

.filter-button-item {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color-one);
  background: var(--background-color-team);
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-color-light);
  background-color: var(--accent-color-two);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: transparent;
}

.about-card {
  padding: 20px 24px;
  border-bottom: 1px solid var(--portfolio-cards-border);
  border-left: 1px solid var(--portfolio-cards-border);
  border-right: 1px solid var(--portfolio-cards-border);
}

.filter-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color-one);
  margin-bottom: 4px;
}

.filter-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color-font);
}

.filter-result {
  background: var(--main-color-light);
}

.filter-result-link {
  width: calc((100%-60px) / 3);
}

.filter-result-link:hover,
.filter-result-link:focus {
  background: var(--accent-color-two);
}
